@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?5n3ksu") format("truetype"), url("../fonts/icomoon.woff?5n3ksu") format("woff"), url("../fonts/icomoon.svg?5n3ksu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Apple:before {
  content: "\e900";
}

.icon-Google-alt:before {
  content: "\e902";
}

.icon-ic-heck-input:before {
  content: "\e903";
}

.icon-ic-addphoto:before {
  content: "\e904";
}

.icon-ic-attention-line:before {
  content: "\e905";
}

.icon-ic-attention:before {
  content: "\e906";
}

.icon-ic-box-open:before {
  content: "\e907";
}

.icon-ic-box:before {
  content: "\e908";
}

.icon-ic-boxes:before {
  content: "\e909";
}

.icon-ic-calendar:before {
  content: "\e90a";
}

.icon-ic-card:before {
  content: "\e90b";
}

.icon-ic-cart-fill:before {
  content: "\e910";
}

.icon-ic-cart:before {
  content: "\e911";
}

.icon-ic-cat-01:before {
  content: "\e912";
  color: #7b8e98;
}

.icon-ic-cat-02:before {
  content: "\e913";
  color: #7b8e98;
}

.icon-ic-cat-03:before {
  content: "\e914";
  color: #7b8e98;
}

.icon-ic-cat-04:before {
  content: "\e915";
  color: #7b8e98;
}

.icon-ic-cat-05:before {
  content: "\e916";
  color: #7b8e98;
}

.icon-ic-cat-06:before {
  content: "\e917";
  color: #7b8e98;
}

.icon-ic-cat-07 .path1:before {
  content: "\e918";
  color: #7b8e98;
}

.icon-ic-cat-07 .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: white;
}

.icon-ic-cat-chicken:before {
  content: "\e91a";
  color: #7b8e98;
}

.icon-ic-cat-cow:before {
  content: "\e91b";
  color: #7b8e98;
}

.icon-ic-cat-deer:before {
  content: "\e91c";
  color: #7b8e98;
}

.icon-ic-cat-duck:before {
  content: "\e91d";
  color: #7b8e98;
}

.icon-ic-cat-goose:before {
  content: "\e91f";
  color: #7b8e98;
}

.icon-ic-cat-horse:before {
  content: "\e920";
  color: #7b8e98;
}

.icon-ic-cat-pig:before {
  content: "\e921";
  color: #7b8e98;
}

.icon-ic-cat-rabbit:before {
  content: "\e922";
  color: #7b8e98;
}

.icon-ic-cat-sheep:before {
  content: "\e923";
  color: #7b8e98;
}

.icon-ic-cat-turkey:before {
  content: "\e924";
  color: #7b8e98;
}

.icon-ic-catalog-fill:before {
  content: "\e925";
}

.icon-ic-catalog:before {
  content: "\e926";
}

.icon-ic-close-input .path1:before {
  content: "\e927";
  color: #1a1a1a;
}

.icon-ic-close-input .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: white;
}

.icon-ic-close:before {
  content: "\e929";
}

.icon-ic-comments:before {
  content: "\e92a";
}

.icon-ic-down-arrow:before {
  content: "\e92b";
}

.icon-ic-favorites-babl:before {
  content: "\e92c";
}

.icon-ic-favorites-fill:before {
  content: "\e932";
}

.icon-ic-filter:before {
  content: "\e935";
}

.icon-ic-gift:before {
  content: "\e936";
}

.icon-ic-globe:before {
  content: "\e937";
}

.icon-ic-gps:before {
  content: "\e938";
}

.icon-ic-home-fill:before {
  content: "\e939";
}

.icon-ic-home:before {
  content: "\e93a";
}

.icon-ic-info:before {
  content: "\e93b";
}

.icon-ic-left-arrow:before {
  content: "\e93c";
}

.icon-ic-list:before {
  content: "\e93d";
}

.icon-ic-location:before {
  content: "\e93e";
}

.icon-ic-mail:before {
  content: "\e93f";
}

.icon-ic-map:before {
  content: "\e940";
}

.icon-ic-menu-dot:before {
  content: "\e941";
}

.icon-ic-menu:before {
  content: "\e942";
}

.icon-ic-minus:before {
  content: "\e943";
}

.icon-ic-news:before {
  content: "\e944";
}

.icon-ic-notfound:before {
  content: "\e945";
}

.icon-ic-phone:before {
  content: "\e946";
}

.icon-ic-plus:before {
  content: "\e947";
}

.icon-ic-portfolio:before {
  content: "\e948";
}

.icon-ic-profile:before {
  content: "\e949";
}

.icon-ic-quality:before {
  content: "\e94a";
}

.icon-ic-question:before {
  content: "\e94b";
}

.icon-ic-quote:before {
  content: "\e94c";
}

.icon-ic-right-arrow:before {
  content: "\e94d";
}

.icon-ic-search:before {
  content: "\e94e";
}

.icon-ic-security:before {
  content: "\e94f";
}

.icon-ic-sort:before {
  content: "\e950";
}

.icon-ic-star-fill:before {
  content: "\e951";
}

.icon-ic-star-lefthalf:before {
  content: "\e952";
}

.icon-ic-star:before {
  content: "\e953";
}

.icon-ic-stock:before {
  content: "\e954";
}

.icon-ic-store:before {
  content: "\e955";
}

.icon-ic-support:before {
  content: "\e956";
}

.icon-ic-tag:before {
  content: "\e957";
}

.icon-ic-time:before {
  content: "\e958";
}

.icon-ic-trash:before {
  content: "\e959";
}

.icon-ic-triangles-down:before {
  content: "\e95a";
}

.icon-ic-triangles-up:before {
  content: "\e95b";
}

.icon-ic-triangles:before {
  content: "\e95c";
}

.icon-ic-truck:before {
  content: "\e95d";
}

.icon-ic-up-arrow:before {
  content: "\e95e";
}

.icon-ic-user-bell .path1:before {
  content: "\e95f";
  color: #1a1a1a;
}

.icon-ic-user-bell .path2:before {
  content: "\e960";
  margin-left: -1.107421875em;
  color: white;
}

.icon-ic-user-bell .path3:before {
  content: "\e961";
  margin-left: -1.107421875em;
  color: #1a1a1a;
}

.icon-ic-user-fill:before {
  content: "\e962";
}

.icon-ic-user:before {
  content: "\e963";
}

.icon-ic-wallet:before {
  content: "\e964";
}

.icon-logo-facebook:before {
  content: "\e965";
  color: #1877f2;
}

.icon-logo-instagram:before {
  content: "\e966";
  color: #e4405f;
}

.icon-logo-mastercard .path1:before {
  content: "\e967";
  color: #e2574c;
}

.icon-logo-mastercard .path2:before {
  content: "\e968";
  margin-left: -1.46875em;
  color: #f4b459;
}

.icon-logo-mir .path1:before {
  content: "\e969";
  color: #4db45e;
}

.icon-logo-mir .path2:before {
  content: "\e96a";
  margin-left: -2.25em;
  color: black;
}

.icon-logo-ok:before {
  content: "\e96b";
  color: #ee8208;
}

.icon-logo-telegram:before {
  content: "\e96c";
  color: #039be5;
}

.icon-logo-viber:before {
  content: "\e96d";
  color: #8e24aa;
}

.icon-logo-visa:before {
  content: "\e96e";
  color: #1359af;
}

.icon-logo-vk:before {
  content: "\e96f";
  color: #4680c2;
}

.icon-logo-whatsapp:before {
  content: "\e970";
  color: #4caf50;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Nunito", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 125%;
  font-family: "Nunito", sans-serif;
  color: #1A1A1A;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1054px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #666;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  background-color: #FED700;
  padding: 40px 0;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions {
  display: none;
}

.header__icon {
  cursor: pointer;
  font-size: 24px;
}

.header__icon + .header__icon {
  margin-left: 24px;
}

.header__btn {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 12px;
  padding: 0;
  background-color: transparent;
}

.header__btn span {
  width: 16px;
  top: 50%;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header__btn span,
.header__btn::before,
.header__btn::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #1A1A1A;
}

.header__btn::before {
  top: 0;
  width: 100%;
}

.header__btn::after {
  width: 12px;
  bottom: 0;
}

.logo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 72px;
  height: 72px;
  margin-right: 16px;
}

.logo__text {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #1A1A1A;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 510px;
          flex: 0 1 510px;
  margin: 0 15px;
}

.search__input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 24px;
  font-size: 16px;
  color: #7B8E98;
}

.search__icon {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  right: -100%;
  padding: 0 16px 24px;
  background-color: #fff;
  color: #1A1A1A;
  font-size: 16px;
  line-height: 125%;
  overflow: auto;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menu.active {
  right: 0;
}

.menu a {
  color: inherit;
  font-family: "Nunito";
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.menu__close {
  font-size: 24px;
}

.menu__login {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.menu__ic {
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__list {
  position: relative;
  background-color: #fff;
  font-size: 16px;
  line-height: 125%;
  padding-bottom: 24px;
  border-bottom: 1px solid #CFD8DC;
}

.menu__item {
  position: relative;
  font-size: 24px;
}

.menu__inner {
  position: relative;
  padding: 9px 0;
  background-color: #fff;
}

.menu__inner.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 16px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.menu__inner.active .menu__ic {
  display: none;
}

.menu__inner.active .menu__link {
  font-size: 20px;
  line-height: 120%;
}

.menu__inner.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background: url(../img/icons/Icons/ic-right-arrow.svg);
}

.menu__category {
  position: fixed;
  right: -100%;
}

.menu__category.active {
  display: block;
  top: 56px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: auto;
  padding: 0 16px;
  background-color: #fff;
}

.menu__sublist {
  position: relative;
  font-size: 16px;
  line-height: 125%;
  padding: 12px 0 12px 40px;
  background-color: #fff;
}

.menu__sublist.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 4;
}

.menu__select.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  padding: 16px 0 16px 56px;
  background-color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-weight: 800;
}

.menu__select.active .menu__ic {
  display: none;
}

.menu__select.active::before {
  content: "";
  top: 14px;
  left: 16px;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../img/icons/Icons/ic-right-arrow.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__goodies {
  display: none;
}

.menu__goodies.active {
  display: block;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: auto;
  padding: 0 16px;
  background-color: #fff;
}

.menu__subitem {
  position: relative;
  font-size: 16px;
  line-height: 125%;
  padding: 12px 0;
}

.menu__subitem .menu__link {
  padding: 0;
}

.menu__inner,
.menu__sublist,
.menu__subitem {
  overflow: hidden;
}

.menu__inner::after,
.menu__sublist::after,
.menu__subitem::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/Icons/ic-right-arrow.svg) no-repeat;
}

.menu__inner.active::after,
.menu__sublist.active::after,
.menu__subitem.active::after {
  display: none;
}

.menu__link {
  color: inherit;
  font-family: "Nunito";
  font-size: 16px;
  line-height: 125%;
  padding-left: 40px;
}

.menu__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 0;
  border-bottom: 1px solid #CFD8DC;
}

.menu__connection {
  font-size: 16px;
  line-height: 125%;
}

.menu__connection + .menu__connection {
  margin-top: 16px;
}

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}

.menu__icon {
  margin-right: 16px;
  font-size: 32px;
}

.menu__questions {
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 16px;
  line-height: 125%;
}

.menu__connect {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 143%;
  color: #7B8E98;
}

.menu__go {
  display: inline-block;
  padding: 9px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #CFD8DC;
  border-radius: 87px;
}

.footer {
  padding: 40px 0;
  background-color: #FED700;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  max-width: 180px;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__copyright {
  font-size: 9px;
  line-height: 133%;
  opacity: 0.6;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 117%;
  opacity: 0.6;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__phone {
  margin-top: 12px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1A1A1A;
}

.footer__mail {
  margin: 4px 0 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #1A1A1A;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  font-size: 24px;
}

.intro {
  padding-top: 40px;
  padding-bottom: 340px;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  top: -124px;
  left: -10%;
  background: #FED700;
  width: 150%;
  height: 100%;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.intro__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro__content {
  max-width: 425px;
  padding-bottom: 50px;
  margin-right: 20px;
}

.intro__title {
  margin-bottom: 20px;
}

.intro__description {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 116.6666666667%;
}

.intro__button {
  -webkit-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
}

.catalog {
  position: relative;
  z-index: 2;
  margin-top: -200px;
  margin-bottom: 40px;
}

.catalog__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
          box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}

.catalog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1A1A1A;
}

.catalog__icon {
  margin-bottom: 20px;
  font-size: 46px;
}

.gift {
  margin-bottom: 40px;
}

.gift__inner {
  overflow: hidden;
  background: #FF8F27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.gift__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  padding: 50px 10px 20px 90px;
}

.gift__title {
  color: #FFFFFF;
  margin-bottom: 24px;
}

.gift__description {
  font-weight: 600;
  font-size: 28px;
  line-height: 114.2857142857%;
  color: #FFFFFF;
}

.gift__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding-bottom: 30%;
}

.gift__image {
  position: relative;
}

.gift__image::before {
  font-size: 338px;
  position: absolute;
  top: -50px;
  right: 0px;
  mix-blend-mode: overlay;
  opacity: 0.3;
}

.gift__image::after {
  content: "%";
  position: absolute;
  top: 20px;
  right: -60px;
  font-family: Nunito;
  font-weight: 900;
  font-size: 470px;
  line-height: 120px;
  color: #FFFFFF;
  mix-blend-mode: overlay;
  opacity: 0.31;
}

.gift__busket {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  margin-bottom: 40px;
}

.slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.slider__body {
  overflow: hidden;
}

.top-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.top-slider__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 114%;
}

.top-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.top-slider__btn {
  display: block;
  font-size: 24px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: inherit;
}

.item__link:hover {
  text-decoration: underline;
}

.item__img {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 79%;
}

.item__image {
  margin-bottom: 16px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__plates {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.item__plate {
  max-width: 200px;
  padding: 2px 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 125%;
  color: #FFFFFF;
  background-color: #F44336;
  border-radius: 20px;
}

.item__plate--new {
  background-color: #03A9F4;
}

.item__favorite {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  cursor: pointer;
}

.item__price {
  margin-bottom: 6px;
}

.item__oldPrice {
  min-height: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
}

.item__currentPrice {
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
}

.item__currentPrice--discount {
  color: #F44336;
}

.item__quantity {
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 14px;
  color: #7B8E98;
}

.item__cart {
  display: block;
  max-width: 120px;
  margin-top: 16px;
}

.promo {
  margin-bottom: 40px;
}

.promo__item {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  border-radius: 20px;
  background: #D8A217;
}

.promo__item--blue {
  background: #24B5BE;
}

.promo__item--green {
  background: #9CCD55;
}

.promo__item--orange {
  background: #DB6825;
}

.promo__item::before {
  content: "";
  position: absolute;
  top: -40%;
  right: -50%;
  height: 300%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: overlay;
}

.promo__text {
  position: relative;
  z-index: 2;
  padding: 50px 0 40px 45px;
  max-width: 255px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.promo__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
}

.promo__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}

.promo__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
          flex: 0 1 310px;
  padding-bottom: 30%;
  height: 100%;
}

.promo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discount {
  margin-bottom: 40px;
}

.discount__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discount__img {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 100%;
}

.discount__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discount__label {
  max-width: 236px;
  color: #1A1A1A;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
}

.news {
  margin-bottom: 40px;
}

.news__link {
  position: relative;
  display: block;
  padding-bottom: 51%;
  margin-bottom: 16px;
}

.news__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.news__icon {
  font-size: 12px;
}

.news__date {
  margin-left: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #7B8E98;
}

.news__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #1A1A1A;
}

.reviews {
  margin-bottom: 40px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 8px;
}

.reviews__name {
  margin-right: 8px;
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
}

.reviews__date {
  font-size: 14px;
  line-height: 143%;
  color: #7B8E98;
}

.reviews__city {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 14px;
  color: #7B8E98;
}

.reviews__text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 143%;
}

.reviews__link {
  color: #FEBA0C;
}

.reviews__link:hover {
  text-decoration: underline;
}

.reviews__image {
  margin-right: 16px;
}

.product-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ECEFF1;
}

.product-reviews__image {
  width: 116px;
  height: 116px;
  margin-right: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-reviews__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #1A1A1A;
}

.product-reviews__rating {
  margin-bottom: 18px;
}

.product-reviews__btn {
  display: inline-block;
  position: relative;
  padding: 10px 33px 10px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #CFD8DC;
  border-radius: 87px;
  color: #1A1A1A;
}

.product-reviews__btn::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 16px;
  height: 16px;
  background: url("../img/icons/Icons/ic-right-arrow.svg");
  background-size: contain;
}

.questions {
  position: relative;
  padding-top: 2%;
  background-color: #FED700;
  overflow: hidden;
}

.questions::before {
  content: "";
  position: absolute;
  top: -116px;
  right: 0;
  width: 100%;
  height: 232px;
  border: 116px solid transparent;
  border-right: 100vw solid #FFFFFF;
}

.questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.questions__content {
  max-width: 318px;
}

.questions__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 40px;
  line-height: 116%;
}

.questions__text {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

.questions__input {
  position: relative;
  font-size: 16px;
  line-height: 125%;
  padding: 14px 16px;
  border-radius: 12px;
}

.questions__input + .questions__input {
  margin-top: 8px;
}

.questions__input::-webkit-input-placeholder {
  color: #7B8E98;
}

.questions__input::-moz-placeholder {
  color: #7B8E98;
}

.questions__input:-ms-input-placeholder {
  color: #7B8E98;
}

.questions__input::-ms-input-placeholder {
  color: #7B8E98;
}

.questions__input::placeholder {
  color: #7B8E98;
}

.questions__input--name {
  padding: 21px 16px 7px 16px;
}

.questions label {
  z-index: 2;
  margin-left: 16px;
  margin-bottom: -19px;
  color: #7B8E98;
  font-size: 12px;
  line-height: 14px;
}

.questions__btn {
  max-width: 130px;
  margin-top: 24px;
  padding: 14px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  border-radius: 87px;
}

.questions__img {
  max-width: 460px;
  max-height: 316px;
  max-width: 100%;
}

.title {
  font-size: 48px;
  line-height: 108.3333333333%;
  font-weight: 900;
}

.btn {
  position: relative;
  background-color: #FFFFFF;
  color: #1A1A1A;
  border-radius: 60px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  padding: 16px 48px 16px 28px;
}

.btn::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  background: url("../img/icons/Icons/ic-right-arrow.svg") no-repeat;
}

.btn-cart {
  padding: 10px 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: inherit;
  background-color: #FED700;
  cursor: pointer;
  border-radius: 55px;
}

.line-through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.swiper-initialized {
  overflow: hidden;
}

.swiper-slide {
  height: auto;
}

@media (min-width: 768px) {
  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__btn {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 991px) {
  .intro__title {
    margin-bottom: 15px;
  }

  .intro__description {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .gift__text {
    padding: 30px 10px 30px 30px;
  }

  .gift__title {
    margin-bottom: 18px;
  }

  .gift__description {
    font-size: 18px;
  }

  .title {
    font-size: 38px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 38px 10px 18px;
  }

  .btn::before {
    top: 7px;
    right: 10px;
  }
}

@media (max-width: 768.98px) {
  .header {
    padding: 12px 0;
  }

  .logo__icon {
    width: 48px;
    height: 48px;
  }

  .logo__text {
    display: none;
  }

  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__col {
    display: none;
  }

  .footer__nav {
    display: none;
  }

  .catalog__list {
    padding: 20px 20px 10px 20px;
  }

  .catalog__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    text-align: center;
    margin-bottom: 10px;
  }

  .gift__inner {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .questions::before {
    height: 80px;
    top: -40px;
    border: 40px solid transparent;
    border-right: 100vw solid #FFFFFF;
  }

  .questions__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .questions__title {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .questions__text {
    font-size: 16px;
  }

  .questions__form {
    padding-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .intro {
    padding-top: 0;
    padding-bottom: 240px;
  }

  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .intro__content {
    padding-bottom: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .intro__image {
    max-width: 100%;
  }

  .gift__title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .gift__description {
    font-size: 12px;
    line-height: 15px;
  }

  .gift__image::before {
    font-size: 200px;
  }

  .gift__image::after {
    font-size: 240px;
  }

  .top-slider {
    margin-bottom: 14px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .top-slider__title {
    font-size: 20px;
  }

  .item__link {
    font-size: 14px;
  }

  .item__plate {
    font-size: 10px;
    padding: 2px 5px;
  }

  .item__price {
    margin-bottom: 4px;
  }

  .item__oldPrice {
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
  }

  .item__currentPrice {
    font-size: 16px;
  }

  .item__quantity {
    font-size: 10px;
    line-height: 12px;
  }

  .item__cart {
    margin-top: 10px;
  }

  .discount__img {
    margin-bottom: 12px;
  }

  .discount__label {
    font-size: 16px;
  }

  .news__link {
    margin-bottom: 12px;
  }

  .news__row {
    margin-bottom: 4px;
  }

  .news__date {
    font-size: 10px;
    line-height: 12px;
  }

  .news__label {
    font-size: 14px;
  }

  .product-reviews__name {
    font-size: 14px;
  }

  .btn-cart {
    padding: 8px 14px;
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .promo__text {
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .promo__title {
    font-size: 22px;
  }

  .promo__subtitle {
    font-size: 14px;
  }

  .questions__content {
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .gift__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }

  .gift__image::before {
    font-size: 120px;
  }

  .gift__image::after {
    font-size: 140px;
    right: 0;
    top: 0;
  }

  .gift__busket {
    width: auto;
  }
}

@media (max-width: 370px) {
  .gift__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}